@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
   
    background-color: #7bdaf3;
    font-family: "Poppins", sans-serif;
    margin: 0; 
    padding-top: 4rem;
}

.notes {
    display: flex;
    flex-wrap: wrap;
}


.add {
    background-color: #9ec862;
    border: 0;
    border-radius: 3px;
    color: white;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
     
}

.add .icon{
    padding-right: 10px;
}

.note{

    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.1);
    margin: 20px;
    height: 300px;
    width: 300px;
}

.note .tools {
    background-color: #9ec862;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button {
    background-color:transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.note .main {
    background-color: #eee;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 100%;
    width: 100%;
}

.note .hidden {
    display: none;

}

.note .tools .edit .hide {
    display: none;

}